* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url(../img/bg.png); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden; /* biar ga bisa geser kanan kiri */
}

.box {
    background-color: #eef5fe; 
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.box h2 {
    color: #24559A;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}


.password-container {
    position: relative;
    width: 100%;
}

.password-container i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 16px;
}

.password-container i:hover {
    color: #9a2424;
}

button {
    background-color: #9a2424;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #7d2a2a;
}

button:active {
    transform: scale(0.98);
}

/* style label */
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    width: 100px;
    text-align: left;
    font-size: 14px;
}

.form-group input {
    flex: 1;
}

/* style anchor */
.daftar {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.daftar a {
  color: #24559A;
  text-decoration: none;
}

.daftar a:hover {
  text-decoration: underline;
}

/* logo */
.logo {
  width: 125px; /* atur ukuran logo */
  display: block;
  margin: 0 auto 25px; /* tengah + jarak bawah */
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
    border-color: #9a2424;
}